@use '../vars.scss' as *;

.attribution {
  color: $very-dark-gray-cyan;
  font-size: 11px;
  text-align: center;
  padding: 15px 24px;
}

.attribution a {
  color: $des-dark-cyan;
  text-decoration: none;
}