@use '../vars.scss' as *;

.header {
  margin: 0;
  padding: 0;
  height: 156px;
  background-color: $des-dark-cyan;
  background-image: url(../images/bg-header-desktop.svg);
  background-size: cover;
  background-position: right;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}