@use '../vars.scss' as *;

.card {
  background-color: $white;
  border-radius: 5px;
  position: relative;
  padding: 32px 24px 24px;
  box-shadow: $shadow;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    max-width: 1110px;
    padding: 32px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.newMarker {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: $des-dark-cyan;
  border-radius: 5px 0 0 5px;
}

.logo {
  position: absolute;
  left: 24px;
  top: -24px;
  width: 48px;

  @media screen and (min-width: $desktop) {
    position: static;
    width: 88px;
    height: 88px;
  }
}

.info {
  @media screen and (min-width: $desktop) {
    flex: 1;
    align-self: flex-start;
  }
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 24px;
}

.company {
  margin-right: 8px;
  color: $des-dark-cyan;
  font-family: $ff;
  font-weight: $fw-bold;
  font-size: 13px;
  
  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.flag {
  margin-left: 8px;
  color: $white;
  font-family: $ff;
  font-weight: $fw-bold;
  font-size: 11px;
  text-transform: uppercase;
  background-color: $des-dark-cyan;
  padding: 4px 8px 0;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.featured {
  background-color: $very-dark-gray-cyan;
}

.position {
  color: $very-dark-gray-cyan;
  font-family: $ff;
  font-weight: $fw-bold;
  font-size: 15px;
  padding: 0;
  margin: 12px 0 16px;
  
  a {
    color: $very-dark-gray-cyan;
    text-decoration: none;

    &:hover {
      color: $des-dark-cyan;
    }
  }
  
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.details {
  color: $dark-gray-cyan;
  font-family: $ff;
  font-weight: $fw-medium;
  font-size: 13px;

  @media screen and (min-width: $desktop) {
    margin: -5px 0 0px;
    font-size: 15px;
  }
}

.bullet {
  padding: 0 3px;
  
  @media screen and (min-width: $desktop) {
    padding: 0 10px;
  }
}

.hr {
  margin: 19px 0 16px;
  border: none;
  background-color: $hr-color;
  height: 1px;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.tagList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
