@use '../vars.scss' as *;

.jobList {
  margin: 56px 0 40px;

  @media screen and (min-width: $desktop) {
    margin: 76px 0 75px;
  }
}

.jobList > * + * {
  margin-top: 40px;

  @media screen and (min-width: $desktop) {
   margin-top: 24px; 
  }
}