@use '../vars.scss' as *;

.tag {
  cursor: pointer;
  font-family: $ff;
  font-weight: $fw-bold;
  height: 32px;
  padding: 1px 8px 0;
  border-radius: 4px;
  font-size: 13px;
  line-height: 32px;
  color: $des-dark-cyan;
  background-color: $light-gray-cyan-filter;
  
  &:hover {
    color: $light-gray-cyan-filter;
    background-color: $des-dark-cyan;
  }
}