@use '../vars.scss' as *;

.tag {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $ff;
  font-weight: $fw-bold;
  height: 32px;
}

.text {
  padding: 1px 8px 0;
  height: 100%;
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  line-height: 32px;
  color: $des-dark-cyan;
  background-color: $light-gray-cyan-filter;
}

.closeButton {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0 4px 4px 0;
  height: 100%;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  background-color: $des-dark-cyan;
  cursor: pointer;
  
  &:hover {
    background-color: $very-dark-gray-cyan;
  }
}