@use '../vars.scss' as *;

.container {
  padding: 20px 19px;
  margin: -36px 0 0;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  //TODO: move max-width and paddings to .main?
  
  @media screen and (min-width: $desktop) {
    padding: 20px 40px;
    margin: -36px auto -36px;
    max-width: 1110px;
  }
}

.tagList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.clearButton {
  padding: 1px 6px 0 12px;
  font-family: $ff;
  font-size: 13px;
  font-weight: $fw-bold;
  color: $dark-gray-cyan;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $des-dark-cyan;
    text-decoration: underline;
  }
  
  @media screen and (min-width: $desktop) {
    padding: 2px 0 0;
  }
}