$des-dark-cyan: hsl(180, 29%, 50%);

$light-gray-cyan-bg: hsl(180, 52%, 96%);
$light-gray-cyan-filter: hsl(180, 31%, 95%);
$dark-gray-cyan: hsl(180, 8%, 52%);
$very-dark-gray-cyan: hsl(180, 14%, 20%);

$hr-color: #BFC1C0;
$white: #ffffff;

$shadow-color: hsla(180, 29%, 50%, 0.25);
$shadow: 0 10px 20px $shadow-color;

$ff: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-bold: 700;

$desktop: 1024px;
